<div class="container-card__portfolio">

<%= link_to projects_front_end_path, class: "link-to" do %>
  <div class="card__portfolio_main">
    <div class="content-card__portfolio">
      <figure>
        <%= image_tag ("other_03.png"), class: "img-portfolio_main" %>
            <figcaption>Front End</figcaption>
        </figure>
    </div>
  </div>
<% end %>
<%= link_to projects_full_stack_path, class: "link-to" do %>
  <div class="card__portfolio_main">
    <div class="content-card__portfolio">
        <figure>
          <%= image_tag ("other_11.png"), class: "img-portfolio_main" %>
            <figcaption>Full Stack</figcaption>
        </figure>
    </div>
  </div>
<% end %>

</div>

<!-- MOVING IMAGES -->

<div class="imgDoodle5">
  <%= image_tag ("object7.png") %>
</div>

<div class="imgDoodle6">
  <%= image_tag ("object6.png") %>
</div>

<div class="imgDoodle7">
  <%= image_tag ("object6.png") %>
</div>
