<div data-controller="card" class="container-card__portfolio">

  <%= link_to 'https://ovninb.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("ovninb.jpg"), class: "img-portfolio" %>
              <figcaption>Ovni'nb <br/> (Rails)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://certificationkotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("certification.jpg"), class: "img-portfolio" %>
              <figcaption>Hobook <br/> (Rails)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://consulteo.herokuapp.com', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("consulteo.jpg"), class: "img-portfolio" %>
              <figcaption>Consulteo (Rails)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://instagram-clone-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
      <div class="card__portfolio">
        <div class="content-card__portfolio">
            <figure>
              <%= image_tag ("instagram.jpg"), class: "img-portfolio" %>
                <figcaption>Instagram clone (Rails)</figcaption>
            </figure>
        </div>
      </div>
  <% end %>

  <%= link_to 'https://twitter-react-rails.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("twitter.jpg"), class: "img-portfolio" %>
              <figcaption>Twitter clone (Rails + React)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://www.vibes-app.online/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("vibes.jpg"), class: "img-portfolio" %>
              <figcaption>Mobile App <br/> (Rails)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://react-app-movies-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("reactmovies.jpg"), class: "img-portfolio" %>
              <figcaption>App Movies (React)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://redux-app-crud-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("medium.jpg"), class: "img-portfolio" %>
              <figcaption>Clone Medium (React)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://react-app-countries-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("countries.jpg"), class: "img-portfolio" %>
              <figcaption>App Countries (React)</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

</div>

<!-- MOVING IMAGES -->

<div class="imgDoodle5">
  <%= image_tag ("object7.png") %>
</div>

<div class="imgDoodle6">
  <%= image_tag ("object6.png") %>
</div>

<div class="imgDoodle7">
  <%= image_tag ("object6.png") %>
</div>
