<div data-controller="card" class="container-card__portfolio">

  <%= link_to 'https://ovninb.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("ovninb.jpg"), class: "img-portfolio" %>
              <figcaption>Ovni'nb</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://certificationkotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("certification.jpg"), class: "img-portfolio" %>
              <figcaption>Hobook</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://react-app-movies-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("reactmovies.jpg"), class: "img-portfolio" %>
              <figcaption>React Movies</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://react-app-countries-kotcherga.herokuapp.com/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("countries.jpg"), class: "img-portfolio" %>
              <figcaption>React Countries</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://consulteo.herokuapp.com', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("consulteo.jpg"), class: "img-portfolio" %>
              <figcaption>Consulteo</figcaption>
          </figure>
      </div>
    </div>
  <% end %>

  <%= link_to 'https://www.vibes-app.online/', class: "link-to", target: :_blank do %>
    <div class="card__portfolio">
      <div class="content-card__portfolio">
          <figure>
            <%= image_tag ("vibes.jpg"), class: "img-portfolio" %>
              <figcaption>Vibes</figcaption>
          </figure>
      </div>
    </div>
  <% end %>
</div>

<!-- MOVING IMAGES -->

<div class="imgDoodle5">
  <%= image_tag ("object7.png") %>
</div>

<div class="imgDoodle6">
  <%= image_tag ("object6.png") %>
</div>

<div class="imgDoodle7">
  <%= image_tag ("object6.png") %>
</div>
