<!DOCTYPE html>
<html>
  <head>
    <title>Kevin Kotcherga - Développeur Web - Ruby On Rails - Full stack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <section >
      <div class="container">

        <%= render 'shared/header' %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/switch_dark_mode' %>

        <%= yield %>
    </section>
  </body>
</html>
